body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 800px;
    font-size: 16px;
}
.banner{
    background-image: url(../images/donation7.jpg);
    height: 90vh;
    background-repeat: no-repeat;

}
.heading{
    font-size: 50px;
}
#banner-cnt{
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 20px;
}
a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    color: white;
}

/*banner ends*/

.donate-cnt{
    
   text-align: center;
   padding: 70px;
   margin: auto;
}
#shared-width{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    font-size: 30px;
    width: 90px;
    margin: 20px;
    padding: 40px 25px;
    background-color: #f9f9f9;
    
}
#specific{
    border: 2px solid tomato;
    background-color: lightcoral;
}
#input-field{
    width: 800px;
    text-align: center;
}




.plans{
    text-align: center;
    padding: 50px;
    
}
#plan-phases{
display: flex;
}

#plan1{
    padding: 40px 20px;
    background-color: lightgreen;
    margin: 15px;
    text-align: left;
}

#plan2{
    padding: 40px 20px;
    background-color:lightgray;
    margin: 15px;
    text-align: left;
}
#plan3{
    padding: 40px 20px;
    background-color: lightblue;
    margin: 15px;
    text-align: left;
}

.info{
    text-align: center;
}

.img{
    padding-left: 75px;
}
#update-text{
    text-align: center;
    padding: 50px;
}


}
#email{
    background-color: lightcyan;
    border-radius: 5px;
}
#submit{
    background-color: lightcoral;
    border-radius: 5px;
}
.end-note{
    text-align: center;
    background-color: black;
    color: crimson;
}

